* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    margin-right: 10px;
    width: calc(100% / 3 - 10px);
}

.badge {
    position: absolute;
    bottom: 3em;
}

.discount {
    background-color: red;
}

.eco {
    background-color: green;
}

.favorites {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.5rem;
    padding: 10px 20px 10px 20px;
    background-color: white;
}

.heart:hover {
    color: red;
}

a {
    color: black;
    text-decoration: none;
}

/* UTILITY */
.txt-white {
    color: white;
}

.txt-gray {
    color: gray;
}

.txt-red {
    color: red;
}

/* MAIN */
.info {
    display: inline;
}

.disc_price {
    padding-right: 10px;
}

.orig_price {
    text-decoration: line-through;
}

.disc-eco {
    display: inline;
    top: 380px;
    right: 245px;
}

